<div class="bg-danger text-white text-center m-1 p-2">
    <div class="h2">No autorizado</div>
    <div class="h4">
        No tienes los permisos para estar aquí.
    </div>
</div>
<a href="/" class="btn btn-secondary mx-1">Regresar</a>