<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <script src="/bundle.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/favicon-parking-express (1).png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

  {{{body}}} <!-- Aquí se inserta el contenido de cada vista -->

  <footer class="footer">
    <p>© 2024 Mi Aplicación</p>
  </footer>
</body>

</html>